body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
}

a {
    margin: 5px;
    text-decoration: none;
    color: #70757a;
    padding: 15px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-right: 10px;
}

ul > a, ul > img {
    padding: 0 8px;
}

.header-img:hover {
    box-shadow: 0 0 10px gainsboro;
    border-radius: 20px;
    cursor: pointer;
}

h1 {
    color: #d93025;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 17px 0px 0px 35px;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    text-decoration: none;
    margin-left: 10px;
}

.border {
    border-bottom: 1px solid #ebebeb;
    padding: 12.5px;
}

.find {
    display: inline-flex;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 50px 38.5px;
}

section {
    display: flex;
    margin-top: -5vh;
    justify-content: center;
}

img:hover {
    cursor: pointer;
}

footer {
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

footer-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;
}

.top-bar{
	border-bottom:1px solid #11100022;
}

.main_div{
	margin:10px 5vh;
	display: flex;
	justify-content: space-between;
}

.main_div .column .row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:5px 5px;
	margin:5px 0px;
	min-height: 25px;
}

.column .row input{
	min-width:75%;
	height:25px;
	padding:2px 10px;
	border:1px solid #000;
}

.column .row input:focus{
	box-shadow:inset 0 0 2px .5px #2233ff;
}

.column .first{
	font-size:1.1rem;
}

.column .row label{
    display: flex;
    padding-right: -20px;
    display: inline-flex;
    color: #333;
    font-family: Arial, sans-serif;
	font-size:14px;
}

.column1{
	width:70%;
}

.column2{
	display: flex;
	width:30%;
	align-items:flex-start;
	flex-direction: column;
}

.column2 .row p{
	font-size:10px;
	line-height:-50px;
	color:#334422bb;
}

.column2 .row2 p{
	font-size:10px;
	line-height:-50px;
	color:#334422bb;
}

.column2 .row3 p{
	font-size:10px;
	line-height:-50px;
	color:#334422bb;
}

button{
	height:30px;
	min-width:120px;
	background: #4d90fe;
	border:1px solid #3079ed;
	color:#fff;
	border-radius: 2px;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	user-select: none;
	box-shadow: none;
	margin:20px 0px 20px auto;
	display: block;
}

#first {
    border: 1px solid gainsboro;
    display: flex;
}

#third {
    border: 1px solid gainsboro;
    display: flex;
}

#fourth {
    border: 1px solid gainsboro;
}



@media (max-width: 630px) {

    #footer-nav {
        flex-direction: column;
    }

    #footer-left {
        justify-content: center;
    }

    #footer-right {
        justify-content: center;
    }

    #my-input-container {
        width: 95vw;
    }


}

@media (max-height: 522px) {

    body {
        overflow-x: hidden;
    }
    section {
        margin-bottom: 20px;

    }
    footer {
        position: relative;
    }
}

@media (max-height: 570px) and (max-width: 630px) {

    body {
        overflow-x: hidden;
    }
    section {
        margin-bottom: 13px;

    }
    footer {
        position: relative;
    }
    
}